	body {
		-webkit-user-select: none; /* Safari */
		-ms-user-select: none; /* IE 10 and IE 11 */
		user-select: none; /* Standard syntax */
		background: white;
		font-family: Avenir Book;
		margin:  0;		
		color: black;
		cursor: grab;
	}
	.upper {
		width: 20px;
		text-align: right;
	}
	.multi-tab {
		display:  flex;
		justify-content: center;
		flex-direction: column!important;
		align-items: stretch;
	}

	.tablink {
		background-color: black;
		color: white;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		font-size: 30px;
		margin-top:  0px;
		padding:  10px 0 25px 0;
		width: 33.33%;
		opacity: 0.9;	
		text-align: center;
		word-wrap: nowrap;
		word-break: keep-all;
	}

	.tablink:hover {
		opacity: 1;
	}

	/* Style the tab content */
	.tabcontent {
		color: white;
		background-color: black;
		display: none;
		text-align: center;
		justify-content: space-around;
		flex-direction: column;
		align-items: stretch;
		word-wrap: nowrap;
		word-break: keep-all;
	}

	.tabcontent i {
		font-size: 35px;
		padding:  5px 0;
		cursor: pointer;
		opacity:  0.9;
	}

	.div-guide {
		word-wrap: nowrap;
		word-break: keep-all;
		overflow-x: auto;
		white-space: nowrap;
		scroll-snap-type: x mandatory;
	}
	.sub-tablink {
		display: inline-block;
		background-color: black;
		color: white;
		border: none;
		outline: none;
		cursor: pointer;
		font-size: 17px;
		padding:  10px 10px;
		width: 70px;
		opacity: 0.6;
		text-align: center;
		scroll-snap-align: start;
	}

	.sub-tablink:hover {
		opacity: 1;
	}

	/* Style the tab content */
	.sub-tabcontent {
		color: white;
		display: none;
		justify-content: center;
		flex-direction: row;
		align-items: stretch;
		background-color: hsl(0deg, 0%, 20%);
		padding: 0px;
		text-align: center;
		opacity: 0.8;
		word-wrap: nowrap;
		word-break: keep-all;
		border-bottom:  6px solid hsla(0deg, 0%, 0%, 0.2);
	}
	.upper-tabcontent i {
		font-size: 40px;
		margin: 10px 5px 15px 25px; 
		cursor: pointer;
		opacity:  0.1;
	}
	.multi-slide {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: space-between;
		border-bottom:  6px solid hsla(0deg, 0%, 0%, 0.2);
	}
	
	.upper-tabcontent i:hover {
		opacity:  0.4;
	}
	#Fit.upper-tabcontent {
		display:  flex;
		justify-content: flex-start;
		flex-direction: row;
		align-items: stretch;
		background-color: white;
		word-wrap: nowrap;
		word-break: keep-all;
	}
	#initial-control.upper-tabcontent {
		display:  flex;
		justify-content: flex-end;
		flex-direction: row;
		align-items: stretch;
		background-color: white;
		word-wrap: nowrap;
		word-break: keep-all;
	}
	#initial-control.upper-tabcontent i {
		margin: 0 15px 5px 5px; 
		font-size: 40px;
		opacity: 0.2;
	}
	#initial-control.upper-tabcontent i:hover {
		opacity: 0.4;
	}
	div.sub-tablink {
		padding-top: 45px;
		position: relative;
		font-family: Avenir Book;
		font-size:  10px;

	}
	div.sub-tablink i {

		/* Position the tooltip */
		position: absolute;
		z-index: 1;
		bottom: 30%;
		left: 50%;
		margin-left: -15px;
	}
	.file-box {
		position: fixed;
		bottom: 55%;
		left: 40%;
		opacity: 0.05;
		cursor: n-resize;
	}
	.file-box i {	
		font-size: 110px;
	}
	.file-box:hover {
		opacity:  0.2;
	}
	#Navigator-Box {
		position:  fixed;
		bottom:  0;
		width: 100%;
		background-color: white;
	}
	#Preview-Box {
		height: 60%;
	}
	figure {
		height: 100px;
	}
	#bod {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		perspective: 1180px;
		/* -------- perspective*/
		margin: 0;
		transform: scale(0.4);
		position: fixed;
		top: -40px;
		left: -20px;
		z-index: 9;
		cursor: pointer;
	}
	/* Add a black background color to the top navigation */
	.topnav {
		background-color: black;
		overflow: hidden;
	}

	/* Style the links inside the navigation bar */
	.topnav a {
		float: left;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		border-bottom: 2px solid black;
	}

	/* Change the color of links on hover */
	.topnav a:hover {
		background-color: whitesmoke;
		color: black;
		border-bottom: 2px solid white;
	}

	/* Add a color to the active/current link */
	.topnav a.active {
		background-color: white;
		border-bottom: 2px solid white;
		color: black;
	}
	.changed {
		opacity:  0.8!important;
	}
	div#great-ruler p {
		transform: rotate(0deg) translate3d(-90px, 50px, 0px)	;
	}
	div#great-ruler hr {
		width: 360px;
		transform: rotate(90deg) translate3d(215px, 225px, 0px)	;
	}
	i.rotated {
		transform: rotate(90deg);
	}
	.canvas-layer {
		width:300px;
		height:300px;
	}
	#canvas-layer-two {

	}
	#canvas-layer-one {
		position: absolute;
		top: -5px;
		left: 0;
		outline: 300px solid white;
		outline-offset: var(--outline-offset, -30px);
		width:310px;
		height:310px;
	}

	#canvas-layer-zero {
		position: relative;
		overflow: hidden;

	}
	#canvas-layer-zero::before {
		content: "";
		position: absolute;
		width: var(--per-width, 200%);
		height: 200%;
		top: -50% ;
		left: -50%;
		z-index: -1;
		background: var(--background, url('fotos/Abetos.png'));
		background-size: var(--background-size, 45%);
		background-position: var(--background-x, 50%) var(--background-y, 51%);
		transform: var(--rotate-Z, rotate(0deg)) rotateX(0deg) rotateY(0deg);
		background-repeat: no-repeat;
		filter:  var(--hue-rotate, hue-rotate(0deg)) var(--contrast, contrast(100%)) var(--brightness, brightness(100%)) var(--saturate, saturate(100%)) var(--invert, invert(0%)) var(--grayscale, grayscale(0%)) var(--sepia, sepia(0%)) var(--blur, blur(0px));

	}

	.flip-y {
		transform: rotateX(180deg)!important;
	}

	.flip-x::before {
		transform: var(--rotate-Z, rotate(0deg)) rotateX(0deg) rotateY(180deg)!important;
	}
	#canvas-container {
		overflow: hidden;
		background-color: hsl(0deg, 50%, 50%);
		opacity: 1;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#canvas-layer-zero.repetirlo::before {
		background-repeat: repeat!important;
	}

	.output {
		text-align: center;
		width:  50px;
		height:  20px;
		font-size: 10pt;

	}
	.spin {
		animation-name: spin;
		animation-duration: 4000ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
	@keyframes spin {
		from {
			transform:rotate(0deg);
		}
		to {
			transform:rotate(360deg);
		}
	}
