
	:root {
		--back: rgba(0,0,0,1);
		--line: rgba(60,60,60,1);
	}
	input[type=range].tiny {
		height: 30px;
		margin: 4px 2px 10px 2px;

	}
	input[type=range] {
		-webkit-appearance: none;
		min-width: 90%;
		height: 50px;
		border: 5px solid black;
		background: rgb(255,255,255);
		background: linear-gradient(90deg, var(--back)	0%, var(--back)	1%, var(--line)	1%, var(--line)	2%, var(--back)	2%, var(--back)	3%, var(--line)	3%, var(--line)	4%, var(--back)	4%, var(--back)	5%, var(--line)	5%, var(--line)	6%, var(--back)	6%, var(--back)	7%, var(--line)	7%, var(--line)	8%, var(--back)	8%, var(--back)	9%, var(--line)	9%, var(--line)	10%, var(--back)	10%, var(--back)	11%, var(--line)	11%, var(--line)	12%, var(--back)	12%, var(--back)	13%, var(--line)	13%, var(--line)	14%, var(--back)	14%, var(--back)	15%, var(--line)	15%, var(--line)	16%, var(--back)	16%, var(--back)	17%, var(--line)	17%, var(--line)	18%, var(--back)	18%, var(--back)	19%, var(--line)	19%, var(--line)	20%, var(--back)	20%, var(--back)	21%, var(--line)	21%, var(--line)	22%, var(--back)	22%, var(--back)	23%, var(--line)	23%, var(--line)	24%, var(--back)	24%, var(--back)	25%, var(--line)	25%, var(--line)	26%, var(--back)	26%, var(--back)	27%, var(--line)	27%, var(--line)	28%, var(--back)	28%, var(--back)	29%, var(--line)	29%, var(--line)	30%, var(--back)	30%, var(--back)	31%, var(--line)	31%, var(--line)	32%, var(--back)	32%, var(--back)	33%, var(--line)	33%, var(--line)	34%, var(--back)	34%, var(--back)	35%, var(--line)	35%, var(--line)	36%, var(--back)	36%, var(--back)	37%, var(--line)	37%, var(--line)	38%, var(--back)	38%, var(--back)	39%, var(--line)	39%, var(--line)	40%, var(--back)	40%, var(--back)	41%, var(--line)	41%, var(--line)	42%, var(--back)	42%, var(--back)	43%, var(--line)	43%, var(--line)	44%, var(--back)	44%, var(--back)	45%, var(--line)	45%, var(--line)	46%, var(--back)	46%, var(--back)	47%, var(--line)	47%, var(--line)	48%, var(--back)	48%, var(--back)	49%, var(--back)	49%, var(--back)	50%, var(--back)	50%, var(--back)	51%, var(--back)	51%, var(--back)	52%, var(--line)	52%, var(--line)	53%, var(--back)	53%, var(--back)	54%, var(--line)	54%, var(--line)	55%, var(--back)	55%, var(--back)	56%, var(--line)	56%, var(--line)	57%, var(--back)	57%, var(--back)	58%, var(--line)	58%, var(--line)	59%, var(--back)	59%, var(--back)	60%, var(--line)	60%, var(--line)	61%, var(--back)	61%, var(--back)	62%, var(--line)	62%, var(--line)	63%, var(--back)	63%, var(--back)	64%, var(--line)	64%, var(--line)	65%, var(--back)	65%, var(--back)	66%, var(--line)	66%, var(--line)	67%, var(--back)	67%, var(--back)	68%, var(--line)	68%, var(--line)	69%, var(--back)	69%, var(--back)	70%, var(--line)	70%, var(--line)	71%, var(--back)	71%, var(--back)	72%, var(--line)	72%, var(--line)	73%, var(--back)	73%, var(--back)	74%, var(--line)	74%, var(--line)	75%, var(--back)	75%, var(--back)	76%, var(--line)	76%, var(--line)	77%, var(--back)	77%, var(--back)	78%, var(--line)	78%, var(--line)	79%, var(--back)	79%, var(--back)	80%, var(--line)	80%, var(--line)	81%, var(--back)	81%, var(--back)	82%, var(--line)	82%, var(--line)	83%, var(--back)	83%, var(--back)	84%, var(--line)	84%, var(--line)	85%, var(--back)	85%, var(--back)	86%, var(--line)	86%, var(--line)	87%, var(--back)	87%, var(--back)	88%, var(--line)	88%, var(--line)	89%, var(--back)	89%, var(--back)	90%, var(--line)	90%, var(--line)	91%, var(--back)	91%, var(--back)	92%, var(--line)	92%, var(--line)	93%, var(--back)	93%, var(--back)	94%, var(--line)	94%, var(--line)	95%, var(--back)	95%, var(--back)	96%, var(--line)	96%, var(--line)	97%, var(--back)	97%, var(--back)	98%, var(--line)	98%, var(--line)	99%, var(--back)	99%, var(--back)	100%);
		outline: none;
		opacity: 1;
		-webkit-transition: .2s;
		transition: opacity .2s;
		margin: 9px 5px 15px 5px;

	}
	input[type=range]:active {
		opacity: 1;
		border: 5px solid lightgray;
	}
	input[type=range]:hover {
		opacity: 1;
	}
	input[type=range]::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 20px;
		height: 55px;
		background: white;
		cursor: pointer;
		outline: 2px solid black;
	}
	input[type=range].tiny::-webkit-slider-thumb {
		height: 30px;
	}
	input[type=range]::-webkit-slider-thumb:active, 
	input[type=range]::-webkit-slider-thumb:hover {		
		outline: 2px solid white;
	}

	input[type=range].colorred-slider {
		background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,132,0,1) 10%, rgba(181,255,0,1) 20%, rgba(1,255,0,1) 30%, rgba(0,255,128,1) 40%, rgba(0,255,248,1) 50%, rgba(0,155,255,1) 60%, rgba(0,40,255,1) 70%, rgba(72,0,255,1) 80%, rgba(255,0,228,1) 90%, rgba(255,0,0,1) 100%);
	}
	input[type=range].colored-slider {
		background: linear-gradient(90deg, hsl(0deg, 100%, 50%) 0%, hsl(3.6deg, 100%, 50%) 0%, hsl(3.6deg, 100%, 50%) 1%, hsl(7.2deg, 100%, 50%) 1%, hsl(7.2deg, 100%, 50%) 2%, hsl(10.8deg, 100%, 50%) 2%, hsl(10.8deg, 100%, 50%) 3%, hsl(14.4deg, 100%, 50%) 3%, hsl(14.4deg, 100%, 50%) 4%, hsl(18deg, 100%, 50%) 4%, hsl(18deg, 100%, 50%) 5%, hsl(21.6deg, 100%, 50%) 5%, hsl(21.6deg, 100%, 50%) 6%, hsl(25.2deg, 100%, 50%) 6%, hsl(25.2deg, 100%, 50%) 7%, hsl(28.8deg, 100%, 50%) 7%, hsl(28.8deg, 100%, 50%) 8%, hsl(32.4deg, 100%, 50%) 8%, hsl(32.4deg, 100%, 50%) 9%, hsl(36deg, 100%, 50%) 9%, hsl(36deg, 100%, 50%) 10%, hsl(39.6deg, 100%, 50%) 10%, hsl(39.6deg, 100%, 50%) 11%, hsl(43.2deg, 100%, 50%) 11%, hsl(43.2deg, 100%, 50%) 12%, hsl(46.8deg, 100%, 50%) 12%, hsl(46.8deg, 100%, 50%) 13%, hsl(50.4deg, 100%, 50%) 13%, hsl(50.4deg, 100%, 50%) 14%, hsl(54deg, 100%, 50%) 14%, hsl(54deg, 100%, 50%) 15%, hsl(57.6deg, 100%, 50%) 15%, hsl(57.6deg, 100%, 50%) 16%, hsl(61.2deg, 100%, 50%) 16%, hsl(61.2deg, 100%, 50%) 17%, hsl(64.8deg, 100%, 50%) 17%, hsl(64.8deg, 100%, 50%) 18%, hsl(68.4deg, 100%, 50%) 18%, hsl(68.4deg, 100%, 50%) 19%, hsl(72deg, 100%, 50%) 19%, hsl(72deg, 100%, 50%) 20%, hsl(75.6deg, 100%, 50%) 20%, hsl(75.6deg, 100%, 50%) 21%, hsl(79.2deg, 100%, 50%) 21%, hsl(79.2deg, 100%, 50%) 22%, hsl(82.8deg, 100%, 50%) 22%, hsl(82.8deg, 100%, 50%) 23%, hsl(86.4deg, 100%, 50%) 23%, hsl(86.4deg, 100%, 50%) 24%, hsl(90deg, 100%, 50%) 24%, hsl(90deg, 100%, 50%) 25%, hsl(93.6deg, 100%, 50%) 25%, hsl(93.6deg, 100%, 50%) 26%, hsl(97.2deg, 100%, 50%) 26%, hsl(97.2deg, 100%, 50%) 27%, hsl(100.8deg, 100%, 50%) 27%, hsl(100.8deg, 100%, 50%) 28%, hsl(104.4deg, 100%, 50%) 28%, hsl(104.4deg, 100%, 50%) 29%, hsl(108deg, 100%, 50%) 29%, hsl(108deg, 100%, 50%) 30%, hsl(111.6deg, 100%, 50%) 30%, hsl(111.6deg, 100%, 50%) 31%, hsl(115.2deg, 100%, 50%) 31%, hsl(115.2deg, 100%, 50%) 32%, hsl(118.8deg, 100%, 50%) 32%, hsl(118.8deg, 100%, 50%) 33%, hsl(122.4deg, 100%, 50%) 33%, hsl(122.4deg, 100%, 50%) 34%, hsl(126deg, 100%, 50%) 34%, hsl(126deg, 100%, 50%) 35%, hsl(129.6deg, 100%, 50%) 35%, hsl(129.6deg, 100%, 50%) 36%, hsl(133.2deg, 100%, 50%) 36%, hsl(133.2deg, 100%, 50%) 37%, hsl(136.8deg, 100%, 50%) 37%, hsl(136.8deg, 100%, 50%) 38%, hsl(140.4deg, 100%, 50%) 38%, hsl(140.4deg, 100%, 50%) 39%, hsl(144deg, 100%, 50%) 39%, hsl(144deg, 100%, 50%) 40%, hsl(147.6deg, 100%, 50%) 40%, hsl(147.6deg, 100%, 50%) 41%, hsl(151.2deg, 100%, 50%) 41%, hsl(151.2deg, 100%, 50%) 42%, hsl(154.8deg, 100%, 50%) 42%, hsl(154.8deg, 100%, 50%) 43%, hsl(158.4deg, 100%, 50%) 43%, hsl(158.4deg, 100%, 50%) 44%, hsl(162deg, 100%, 50%) 44%, hsl(162deg, 100%, 50%) 45%, hsl(165.6deg, 100%, 50%) 45%, hsl(165.6deg, 100%, 50%) 46%, hsl(169.2deg, 100%, 50%) 46%, hsl(169.2deg, 100%, 50%) 47%, hsl(172.8deg, 100%, 50%) 47%, hsl(172.8deg, 100%, 50%) 48%, hsl(176.4deg, 100%, 50%) 48%, hsl(176.4deg, 100%, 50%) 49%, hsl(180deg, 100%, 50%) 49%, hsl(180deg, 100%, 50%) 50%, hsl(183.6deg, 100%, 50%) 50%, hsl(183.6deg, 100%, 50%) 51%, hsl(187.2deg, 100%, 50%) 51%, hsl(187.2deg, 100%, 50%) 52%, hsl(190.8deg, 100%, 50%) 52%, hsl(190.8deg, 100%, 50%) 53%, hsl(194.4deg, 100%, 50%) 53%, hsl(194.4deg, 100%, 50%) 54%, hsl(198deg, 100%, 50%) 54%, hsl(198deg, 100%, 50%) 55%, hsl(201.6deg, 100%, 50%) 55%, hsl(201.6deg, 100%, 50%) 56%, hsl(205.2deg, 100%, 50%) 56%, hsl(205.2deg, 100%, 50%) 57%, hsl(208.8deg, 100%, 50%) 57%, hsl(208.8deg, 100%, 50%) 58%, hsl(212.4deg, 100%, 50%) 58%, hsl(212.4deg, 100%, 50%) 59%, hsl(216deg, 100%, 50%) 59%, hsl(216deg, 100%, 50%) 60%, hsl(219.6deg, 100%, 50%) 60%, hsl(219.6deg, 100%, 50%) 61%, hsl(223.2deg, 100%, 50%) 61%, hsl(223.2deg, 100%, 50%) 62%, hsl(226.8deg, 100%, 50%) 62%, hsl(226.8deg, 100%, 50%) 63%, hsl(230.4deg, 100%, 50%) 63%, hsl(230.4deg, 100%, 50%) 64%, hsl(234deg, 100%, 50%) 64%, hsl(234deg, 100%, 50%) 65%, hsl(237.6deg, 100%, 50%) 65%, hsl(237.6deg, 100%, 50%) 66%, hsl(241.2deg, 100%, 50%) 66%, hsl(241.2deg, 100%, 50%) 67%, hsl(244.8deg, 100%, 50%) 67%, hsl(244.8deg, 100%, 50%) 68%, hsl(248.4deg, 100%, 50%) 68%, hsl(248.4deg, 100%, 50%) 69%, hsl(252deg, 100%, 50%) 69%, hsl(252deg, 100%, 50%) 70%, hsl(255.6deg, 100%, 50%) 70%, hsl(255.6deg, 100%, 50%) 71%, hsl(259.2deg, 100%, 50%) 71%, hsl(259.2deg, 100%, 50%) 72%, hsl(262.8deg, 100%, 50%) 72%, hsl(262.8deg, 100%, 50%) 73%, hsl(266.4deg, 100%, 50%) 73%, hsl(266.4deg, 100%, 50%) 74%, hsl(270deg, 100%, 50%) 74%, hsl(270deg, 100%, 50%) 75%, hsl(273.6deg, 100%, 50%) 75%, hsl(273.6deg, 100%, 50%) 76%, hsl(277.2deg, 100%, 50%) 76%, hsl(277.2deg, 100%, 50%) 77%, hsl(280.8deg, 100%, 50%) 77%, hsl(280.8deg, 100%, 50%) 78%, hsl(284.4deg, 100%, 50%) 78%, hsl(284.4deg, 100%, 50%) 79%, hsl(288deg, 100%, 50%) 79%, hsl(288deg, 100%, 50%) 80%, hsl(291.6deg, 100%, 50%) 80%, hsl(291.6deg, 100%, 50%) 81%, hsl(295.2deg, 100%, 50%) 81%, hsl(295.2deg, 100%, 50%) 82%, hsl(298.8deg, 100%, 50%) 82%, hsl(298.8deg, 100%, 50%) 83%, hsl(302.4deg, 100%, 50%) 83%, hsl(302.4deg, 100%, 50%) 84%, hsl(306deg, 100%, 50%) 84%, hsl(306deg, 100%, 50%) 85%, hsl(309.6deg, 100%, 50%) 85%, hsl(309.6deg, 100%, 50%) 86%, hsl(313.2deg, 100%, 50%) 86%, hsl(313.2deg, 100%, 50%) 87%, hsl(316.8deg, 100%, 50%) 87%, hsl(316.8deg, 100%, 50%) 88%, hsl(320.4deg, 100%, 50%) 88%, hsl(320.4deg, 100%, 50%) 89%, hsl(324deg, 100%, 50%) 89%, hsl(324deg, 100%, 50%) 90%, hsl(327.6deg, 100%, 50%) 90%, hsl(327.6deg, 100%, 50%) 91%, hsl(331.2deg, 100%, 50%) 91%, hsl(331.2deg, 100%, 50%) 92%, hsl(334.8deg, 100%, 50%) 92%, hsl(334.8deg, 100%, 50%) 93%, hsl(338.4deg, 100%, 50%) 93%, hsl(338.4deg, 100%, 50%) 94%, hsl(342deg, 100%, 50%) 94%, hsl(342deg, 100%, 50%) 95%, hsl(345.6deg, 100%, 50%) 95%, hsl(345.6deg, 100%, 50%) 96%, hsl(349.2deg, 100%, 50%) 96%, hsl(349.2deg, 100%, 50%) 97%, hsl(352.8deg, 100%, 50%) 97%, hsl(352.8deg, 100%, 50%) 98%, hsl(356.4deg, 100%, 50%) 98%, hsl(356.4deg, 100%, 50%) 99%, hsl(360deg, 100%, 50%) 99%, hsl(360deg, 100%, 50%) 100%);
	}
	input[type=range].grays-slider {
		background: linear-gradient(90deg, hsl(0deg, 0%,	1%) 0%,	hsl(0deg, 0%, 1%) 1%,	hsl(0deg, 0%, 2%) 1%,	hsl(0deg, 0%, 2%) 2%,	hsl(0deg, 0%, 3%) 2%,	hsl(0deg, 0%, 3%) 3%,	hsl(0deg, 0%, 4%) 3%,	hsl(0deg, 0%, 4%) 4%,	hsl(0deg, 0%, 5%) 4%,	hsl(0deg, 0%, 5%) 5%,	hsl(0deg, 0%, 6%) 5%,	hsl(0deg, 0%, 6%) 6%,	hsl(0deg, 0%, 7%) 6%,	hsl(0deg, 0%, 7%) 7%,	hsl(0deg, 0%, 8%) 7%,	hsl(0deg, 0%, 8%) 8%,	hsl(0deg, 0%, 9%) 8%,	hsl(0deg, 0%, 9%) 9%,	hsl(0deg, 0%, 10%) 9%,	hsl(0deg, 0%, 10%) 10%,	hsl(0deg, 0%, 11%) 10%,	hsl(0deg, 0%, 11%) 11%,	hsl(0deg, 0%, 12%) 11%,	hsl(0deg, 0%, 12%) 12%,	hsl(0deg, 0%, 13%) 12%,	hsl(0deg, 0%, 13%) 13%,	hsl(0deg, 0%, 14%) 13%,	hsl(0deg, 0%, 14%) 14%,	hsl(0deg, 0%, 15%) 14%,	hsl(0deg, 0%, 15%) 15%,	hsl(0deg, 0%, 16%) 15%,	hsl(0deg, 0%, 16%) 16%,	hsl(0deg, 0%, 17%) 16%,	hsl(0deg, 0%, 17%) 17%,	hsl(0deg, 0%, 18%) 17%,	hsl(0deg, 0%, 18%) 18%,	hsl(0deg, 0%, 19%) 18%,	hsl(0deg, 0%, 19%) 19%,	hsl(0deg, 0%, 20%) 19%,	hsl(0deg, 0%, 20%) 20%,	hsl(0deg, 0%, 21%) 20%,	hsl(0deg, 0%, 21%) 21%,	hsl(0deg, 0%, 22%) 21%,	hsl(0deg, 0%, 22%) 22%,	hsl(0deg, 0%, 23%) 22%,	hsl(0deg, 0%, 23%) 23%,	hsl(0deg, 0%, 24%) 23%,	hsl(0deg, 0%, 24%) 24%,	hsl(0deg, 0%, 25%) 24%,	hsl(0deg, 0%, 25%) 25%,	hsl(0deg, 0%, 26%) 25%,	hsl(0deg, 0%, 26%) 26%,	hsl(0deg, 0%, 27%) 26%,	hsl(0deg, 0%, 27%) 27%,	hsl(0deg, 0%, 28%) 27%,	hsl(0deg, 0%, 28%) 28%,	hsl(0deg, 0%, 29%) 28%,	hsl(0deg, 0%, 29%) 29%,	hsl(0deg, 0%, 30%) 29%,	hsl(0deg, 0%, 30%) 30%,	hsl(0deg, 0%, 31%) 30%,	hsl(0deg, 0%, 31%) 31%,	hsl(0deg, 0%, 32%) 31%,	hsl(0deg, 0%, 32%) 32%,	hsl(0deg, 0%, 33%) 32%,	hsl(0deg, 0%, 33%) 33%,	hsl(0deg, 0%, 34%) 33%,	hsl(0deg, 0%, 34%) 34%,	hsl(0deg, 0%, 35%) 34%,	hsl(0deg, 0%, 35%) 35%,	hsl(0deg, 0%, 36%) 35%,	hsl(0deg, 0%, 36%) 36%,	hsl(0deg, 0%, 37%) 36%,	hsl(0deg, 0%, 37%) 37%,	hsl(0deg, 0%, 38%) 37%,	hsl(0deg, 0%, 38%) 38%,	hsl(0deg, 0%, 39%) 38%,	hsl(0deg, 0%, 39%) 39%,	hsl(0deg, 0%, 40%) 39%,	hsl(0deg, 0%, 40%) 40%,	hsl(0deg, 0%, 41%) 40%,	hsl(0deg, 0%, 41%) 41%,	hsl(0deg, 0%, 42%) 41%,	hsl(0deg, 0%, 42%) 42%,	hsl(0deg, 0%, 43%) 42%,	hsl(0deg, 0%, 43%) 43%,	hsl(0deg, 0%, 44%) 43%,	hsl(0deg, 0%, 44%) 44%,	hsl(0deg, 0%, 45%) 44%,	hsl(0deg, 0%, 45%) 45%,	hsl(0deg, 0%, 46%) 45%,	hsl(0deg, 0%, 46%) 46%,	hsl(0deg, 0%, 47%) 46%,	hsl(0deg, 0%, 47%) 47%,	hsl(0deg, 0%, 48%) 47%,	hsl(0deg, 0%, 48%) 48%,	hsl(0deg, 0%, 49%) 48%,	hsl(0deg, 0%, 49%) 49%,	hsl(0deg, 0%, 50%) 49%,	hsl(0deg, 0%, 50%) 50%,	hsl(0deg, 0%, 51%) 50%,	hsl(0deg, 0%, 51%) 51%,	hsl(0deg, 0%, 52%) 51%,	hsl(0deg, 0%, 52%) 52%,	hsl(0deg, 0%, 53%) 52%,	hsl(0deg, 0%, 53%) 53%,	hsl(0deg, 0%, 54%) 53%,	hsl(0deg, 0%, 54%) 54%,	hsl(0deg, 0%, 55%) 54%,	hsl(0deg, 0%, 55%) 55%,	hsl(0deg, 0%, 56%) 55%,	hsl(0deg, 0%, 56%) 56%,	hsl(0deg, 0%, 57%) 56%,	hsl(0deg, 0%, 57%) 57%,	hsl(0deg, 0%, 58%) 57%,	hsl(0deg, 0%, 58%) 58%,	hsl(0deg, 0%, 59%) 58%,	hsl(0deg, 0%, 59%) 59%,	hsl(0deg, 0%, 60%) 59%,	hsl(0deg, 0%, 60%) 60%,	hsl(0deg, 0%, 61%) 60%,	hsl(0deg, 0%, 61%) 61%,	hsl(0deg, 0%, 62%) 61%,	hsl(0deg, 0%, 62%) 62%,	hsl(0deg, 0%, 63%) 62%,	hsl(0deg, 0%, 63%) 63%,	hsl(0deg, 0%, 64%) 63%,	hsl(0deg, 0%, 64%) 64%,	hsl(0deg, 0%, 65%) 64%,	hsl(0deg, 0%, 65%) 65%,	hsl(0deg, 0%, 66%) 65%,	hsl(0deg, 0%, 66%) 66%,	hsl(0deg, 0%, 67%) 66%,	hsl(0deg, 0%, 67%) 67%,	hsl(0deg, 0%, 68%) 67%,	hsl(0deg, 0%, 68%) 68%,	hsl(0deg, 0%, 69%) 68%,	hsl(0deg, 0%, 69%) 69%,	hsl(0deg, 0%, 70%) 69%,	hsl(0deg, 0%, 70%) 70%,	hsl(0deg, 0%, 71%) 70%,	hsl(0deg, 0%, 71%) 71%,	hsl(0deg, 0%, 72%) 71%,	hsl(0deg, 0%, 72%) 72%,	hsl(0deg, 0%, 73%) 72%,	hsl(0deg, 0%, 73%) 73%,	hsl(0deg, 0%, 74%) 73%,	hsl(0deg, 0%, 74%) 74%,	hsl(0deg, 0%, 75%) 74%,	hsl(0deg, 0%, 75%) 75%,	hsl(0deg, 0%, 76%) 75%,	hsl(0deg, 0%, 76%) 76%,	hsl(0deg, 0%, 77%) 76%,	hsl(0deg, 0%, 77%) 77%,	hsl(0deg, 0%, 78%) 77%,	hsl(0deg, 0%, 78%) 78%,	hsl(0deg, 0%, 79%) 78%,	hsl(0deg, 0%, 79%) 79%,	hsl(0deg, 0%, 80%) 79%,	hsl(0deg, 0%, 80%) 80%,	hsl(0deg, 0%, 81%) 80%,	hsl(0deg, 0%, 81%) 81%,	hsl(0deg, 0%, 82%) 81%,	hsl(0deg, 0%, 82%) 82%,	hsl(0deg, 0%, 83%) 82%,	hsl(0deg, 0%, 83%) 83%,	hsl(0deg, 0%, 84%) 83%,	hsl(0deg, 0%, 84%) 84%,	hsl(0deg, 0%, 85%) 84%,	hsl(0deg, 0%, 85%) 85%,	hsl(0deg, 0%, 86%) 85%,	hsl(0deg, 0%, 86%) 86%,	hsl(0deg, 0%, 87%) 86%,	hsl(0deg, 0%, 87%) 87%,	hsl(0deg, 0%, 88%) 87%,	hsl(0deg, 0%, 88%) 88%,	hsl(0deg, 0%, 89%) 88%,	hsl(0deg, 0%, 89%) 89%,	hsl(0deg, 0%, 90%) 89%,	hsl(0deg, 0%, 90%) 90%,	hsl(0deg, 0%, 91%) 90%,	hsl(0deg, 0%, 91%) 91%,	hsl(0deg, 0%, 92%) 91%,	hsl(0deg, 0%, 92%) 92%,	hsl(0deg, 0%, 93%) 92%,	hsl(0deg, 0%, 93%) 93%,	hsl(0deg, 0%, 94%) 93%,	hsl(0deg, 0%, 94%) 94%,	hsl(0deg, 0%, 95%) 94%,	hsl(0deg, 0%, 95%) 95%,	hsl(0deg, 0%, 96%) 95%,	hsl(0deg, 0%, 96%) 96%,	hsl(0deg, 0%, 97%) 96%,	hsl(0deg, 0%, 97%) 97%,	hsl(0deg, 0%, 98%) 97%,	hsl(0deg, 0%, 98%) 98%,	hsl(0deg, 0%, 99%) 98%,	hsl(0deg, 0%, 99%) 99%,	hsl(0deg, 0%, 100%) 99%,	hsl(0deg, 0%, 100%) 100%);
	}
	input[type=range].color-slider {
		background: linear-gradient(90deg,
			hsl(0deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 0%,
			hsl(3.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 0%,
			hsl(3.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 1%,
			hsl(7.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 1%,
			hsl(7.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 2%,
			hsl(10.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 2%,
			hsl(10.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 3%,
			hsl(14.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 3%,
			hsl(14.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 4%,
			hsl(18deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 4%,
			hsl(18deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 5%,
			hsl(21.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 5%,
			hsl(21.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 6%,
			hsl(25.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 6%,
			hsl(25.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 7%,
			hsl(28.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 7%,
			hsl(28.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 8%,
			hsl(32.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 8%,
			hsl(32.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 9%,
			hsl(36deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 9%,
			hsl(36deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 10%,
			hsl(39.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 10%,
			hsl(39.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 11%,
			hsl(43.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 11%,
			hsl(43.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 12%,
			hsl(46.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 12%,
			hsl(46.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 13%,
			hsl(50.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 13%,
			hsl(50.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 14%,
			hsl(54deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 14%,
			hsl(54deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 15%,
			hsl(57.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 15%,
			hsl(57.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 16%,
			hsl(61.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 16%,
			hsl(61.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 17%,
			hsl(64.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 17%,
			hsl(64.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 18%,
			hsl(68.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 18%,
			hsl(68.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 19%,
			hsl(72deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 19%,
			hsl(72deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 20%,
			hsl(75.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 20%,
			hsl(75.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 21%,
			hsl(79.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 21%,
			hsl(79.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 22%,
			hsl(82.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 22%,
			hsl(82.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 23%,
			hsl(86.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 23%,
			hsl(86.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 24%,
			hsl(90deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 24%,
			hsl(90deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 25%,
			hsl(93.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 25%,
			hsl(93.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 26%,
			hsl(97.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 26%,
			hsl(97.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 27%,
			hsl(100.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 27%,
			hsl(100.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 28%,
			hsl(104.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 28%,
			hsl(104.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 29%,
			hsl(108deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 29%,
			hsl(108deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 30%,
			hsl(111.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 30%,
			hsl(111.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 31%,
			hsl(115.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 31%,
			hsl(115.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 32%,
			hsl(118.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 32%,
			hsl(118.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 33%,
			hsl(122.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 33%,
			hsl(122.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 34%,
			hsl(126deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 34%,
			hsl(126deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 35%,
			hsl(129.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 35%,
			hsl(129.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 36%,
			hsl(133.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 36%,
			hsl(133.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 37%,
			hsl(136.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 37%,
			hsl(136.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 38%,
			hsl(140.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 38%,
			hsl(140.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 39%,
			hsl(144deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 39%,
			hsl(144deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 40%,
			hsl(147.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 40%,
			hsl(147.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 41%,
			hsl(151.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 41%,
			hsl(151.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 42%,
			hsl(154.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 42%,
			hsl(154.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 43%,
			hsl(158.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 43%,
			hsl(158.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 44%,
			hsl(162deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 44%,
			hsl(162deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 45%,
			hsl(165.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 45%,
			hsl(165.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 46%,
			hsl(169.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 46%,
			hsl(169.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 47%,
			hsl(172.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 47%,
			hsl(172.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 48%,
			hsl(176.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 48%,
			hsl(176.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 49%,
			hsl(180deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 49%,
			hsl(180deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 50%,
			hsl(183.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 50%,
			hsl(183.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 51%,
			hsl(187.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 51%,
			hsl(187.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 52%,
			hsl(190.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 52%,
			hsl(190.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 53%,
			hsl(194.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 53%,
			hsl(194.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 54%,
			hsl(198deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 54%,
			hsl(198deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 55%,
			hsl(201.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 55%,
			hsl(201.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 56%,
			hsl(205.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 56%,
			hsl(205.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 57%,
			hsl(208.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 57%,
			hsl(208.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 58%,
			hsl(212.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 58%,
			hsl(212.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 59%,
			hsl(216deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 59%,
			hsl(216deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 60%,
			hsl(219.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 60%,
			hsl(219.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 61%,
			hsl(223.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 61%,
			hsl(223.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 62%,
			hsl(226.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 62%,
			hsl(226.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 63%,
			hsl(230.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 63%,
			hsl(230.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 64%,
			hsl(234deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 64%,
			hsl(234deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 65%,
			hsl(237.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 65%,
			hsl(237.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 66%,
			hsl(241.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 66%,
			hsl(241.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 67%,
			hsl(244.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 67%,
			hsl(244.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 68%,
			hsl(248.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 68%,
			hsl(248.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 69%,
			hsl(252deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 69%,
			hsl(252deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 70%,
			hsl(255.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 70%,
			hsl(255.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 71%,
			hsl(259.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 71%,
			hsl(259.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 72%,
			hsl(262.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 72%,
			hsl(262.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 73%,
			hsl(266.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 73%,
			hsl(266.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 74%,
			hsl(270deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 74%,
			hsl(270deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 75%,
			hsl(273.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 75%,
			hsl(273.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 76%,
			hsl(277.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 76%,
			hsl(277.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 77%,
			hsl(280.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 77%,
			hsl(280.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 78%,
			hsl(284.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 78%,
			hsl(284.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 79%,
			hsl(288deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 79%,
			hsl(288deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 80%,
			hsl(291.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 80%,
			hsl(291.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 81%,
			hsl(295.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 81%,
			hsl(295.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 82%,
			hsl(298.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 82%,
			hsl(298.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 83%,
			hsl(302.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 83%,
			hsl(302.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 84%,
			hsl(306deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 84%,
			hsl(306deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 85%,
			hsl(309.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 85%,
			hsl(309.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 86%,
			hsl(313.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 86%,
			hsl(313.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 87%,
			hsl(316.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 87%,
			hsl(316.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 88%,
			hsl(320.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 88%,
			hsl(320.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 89%,
			hsl(324deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 89%,
			hsl(324deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 90%,
			hsl(327.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 90%,
			hsl(327.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 91%,
			hsl(331.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 91%,
			hsl(331.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 92%,
			hsl(334.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 92%,
			hsl(334.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 93%,
			hsl(338.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 93%,
			hsl(338.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 94%,
			hsl(342deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 94%,
			hsl(342deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 95%,
			hsl(345.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 95%,
			hsl(345.6deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 96%,
			hsl(349.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 96%,
			hsl(349.2deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 97%,
			hsl(352.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 97%,
			hsl(352.8deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 98%,
			hsl(356.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 98%,
			hsl(356.4deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 99%,
			hsl(360deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 99%,
			hsl(360deg, var(--background-saturation, 50%), var(--background-lightness, 50%)) 100%);
}
input[type=range].saturation-slider {
	background: linear-gradient(90deg, 
		hsl(var(--background-hue, 0deg),  1%, var(--background-lightness,50%)) 0%, 
		hsl(var(--background-hue, 0deg),  1%, var(--background-lightness,50%)) 1%, 
		hsl(var(--background-hue, 0deg),  2%, var(--background-lightness,50%)) 1%, 
		hsl(var(--background-hue, 0deg),  2%, var(--background-lightness,50%)) 2%, 
		hsl(var(--background-hue, 0deg),  3%, var(--background-lightness,50%)) 2%, 
		hsl(var(--background-hue, 0deg),  3%, var(--background-lightness,50%)) 3%, 
		hsl(var(--background-hue, 0deg),  4%, var(--background-lightness,50%)) 3%, 
		hsl(var(--background-hue, 0deg),  4%, var(--background-lightness,50%)) 4%, 
		hsl(var(--background-hue, 0deg),  5%, var(--background-lightness,50%)) 4%, 
		hsl(var(--background-hue, 0deg),  5%, var(--background-lightness,50%)) 5%, 
		hsl(var(--background-hue, 0deg),  6%, var(--background-lightness,50%)) 5%, 
		hsl(var(--background-hue, 0deg),  6%, var(--background-lightness,50%)) 6%, 
		hsl(var(--background-hue, 0deg),  7%, var(--background-lightness,50%)) 6%, 
		hsl(var(--background-hue, 0deg),  7%, var(--background-lightness,50%)) 7%, 
		hsl(var(--background-hue, 0deg),  8%, var(--background-lightness,50%)) 7%, 
		hsl(var(--background-hue, 0deg),  8%, var(--background-lightness,50%)) 8%, 
		hsl(var(--background-hue, 0deg),  9%, var(--background-lightness,50%)) 8%, 
		hsl(var(--background-hue, 0deg),  9%, var(--background-lightness,50%)) 9%, 
		hsl(var(--background-hue, 0deg),  10%, var(--background-lightness, 50%)) 9%, 
		hsl(var(--background-hue, 0deg),  10%, var(--background-lightness, 50%)) 10%, 
		hsl(var(--background-hue, 0deg),  11%, var(--background-lightness, 50%)) 10%, 
		hsl(var(--background-hue, 0deg),  11%, var(--background-lightness, 50%)) 11%, 
		hsl(var(--background-hue, 0deg),  12%, var(--background-lightness, 50%)) 11%, 
		hsl(var(--background-hue, 0deg),  12%, var(--background-lightness, 50%)) 12%, 
		hsl(var(--background-hue, 0deg),  13%, var(--background-lightness, 50%)) 12%, 
		hsl(var(--background-hue, 0deg),  13%, var(--background-lightness, 50%)) 13%, 
		hsl(var(--background-hue, 0deg),  14%, var(--background-lightness, 50%)) 13%, 
		hsl(var(--background-hue, 0deg),  14%, var(--background-lightness, 50%)) 14%, 
		hsl(var(--background-hue, 0deg),  15%, var(--background-lightness, 50%)) 14%, 
		hsl(var(--background-hue, 0deg),  15%, var(--background-lightness, 50%)) 15%, 
		hsl(var(--background-hue, 0deg),  16%, var(--background-lightness, 50%)) 15%, 
		hsl(var(--background-hue, 0deg),  16%, var(--background-lightness, 50%)) 16%, 
		hsl(var(--background-hue, 0deg),  17%, var(--background-lightness, 50%)) 16%, 
		hsl(var(--background-hue, 0deg),  17%, var(--background-lightness, 50%)) 17%, 
		hsl(var(--background-hue, 0deg),  18%, var(--background-lightness, 50%)) 17%, 
		hsl(var(--background-hue, 0deg),  18%, var(--background-lightness, 50%)) 18%, 
		hsl(var(--background-hue, 0deg),  19%, var(--background-lightness, 50%)) 18%, 
		hsl(var(--background-hue, 0deg),  19%, var(--background-lightness, 50%)) 19%, 
		hsl(var(--background-hue, 0deg),  20%, var(--background-lightness, 50%)) 19%, 
		hsl(var(--background-hue, 0deg),  20%, var(--background-lightness, 50%)) 20%, 
		hsl(var(--background-hue, 0deg),  21%, var(--background-lightness, 50%)) 20%, 
		hsl(var(--background-hue, 0deg),  21%, var(--background-lightness, 50%)) 21%, 
		hsl(var(--background-hue, 0deg),  22%, var(--background-lightness, 50%)) 21%, 
		hsl(var(--background-hue, 0deg),  22%, var(--background-lightness, 50%)) 22%, 
		hsl(var(--background-hue, 0deg),  23%, var(--background-lightness, 50%)) 22%, 
		hsl(var(--background-hue, 0deg),  23%, var(--background-lightness, 50%)) 23%, 
		hsl(var(--background-hue, 0deg),  24%, var(--background-lightness, 50%)) 23%, 
		hsl(var(--background-hue, 0deg),  24%, var(--background-lightness, 50%)) 24%, 
		hsl(var(--background-hue, 0deg),  25%, var(--background-lightness, 50%)) 24%, 
		hsl(var(--background-hue, 0deg),  25%, var(--background-lightness, 50%)) 25%, 
		hsl(var(--background-hue, 0deg),  26%, var(--background-lightness, 50%)) 25%, 
		hsl(var(--background-hue, 0deg),  26%, var(--background-lightness, 50%)) 26%, 
		hsl(var(--background-hue, 0deg),  27%, var(--background-lightness, 50%)) 26%, 
		hsl(var(--background-hue, 0deg),  27%, var(--background-lightness, 50%)) 27%, 
		hsl(var(--background-hue, 0deg),  28%, var(--background-lightness, 50%)) 27%, 
		hsl(var(--background-hue, 0deg),  28%, var(--background-lightness, 50%)) 28%, 
		hsl(var(--background-hue, 0deg),  29%, var(--background-lightness, 50%)) 28%, 
		hsl(var(--background-hue, 0deg),  29%, var(--background-lightness, 50%)) 29%, 
		hsl(var(--background-hue, 0deg),  30%, var(--background-lightness, 50%)) 29%, 
		hsl(var(--background-hue, 0deg),  30%, var(--background-lightness, 50%)) 30%, 
		hsl(var(--background-hue, 0deg),  31%, var(--background-lightness, 50%)) 30%, 
		hsl(var(--background-hue, 0deg),  31%, var(--background-lightness, 50%)) 31%, 
		hsl(var(--background-hue, 0deg),  32%, var(--background-lightness, 50%)) 31%, 
		hsl(var(--background-hue, 0deg),  32%, var(--background-lightness, 50%)) 32%, 
		hsl(var(--background-hue, 0deg),  33%, var(--background-lightness, 50%)) 32%, 
		hsl(var(--background-hue, 0deg),  33%, var(--background-lightness, 50%)) 33%, 
		hsl(var(--background-hue, 0deg),  34%, var(--background-lightness, 50%)) 33%, 
		hsl(var(--background-hue, 0deg),  34%, var(--background-lightness, 50%)) 34%, 
		hsl(var(--background-hue, 0deg),  35%, var(--background-lightness, 50%)) 34%, 
		hsl(var(--background-hue, 0deg),  35%, var(--background-lightness, 50%)) 35%, 
		hsl(var(--background-hue, 0deg),  36%, var(--background-lightness, 50%)) 35%, 
		hsl(var(--background-hue, 0deg),  36%, var(--background-lightness, 50%)) 36%, 
		hsl(var(--background-hue, 0deg),  37%, var(--background-lightness, 50%)) 36%, 
		hsl(var(--background-hue, 0deg),  37%, var(--background-lightness, 50%)) 37%, 
		hsl(var(--background-hue, 0deg),  38%, var(--background-lightness, 50%)) 37%, 
		hsl(var(--background-hue, 0deg),  38%, var(--background-lightness, 50%)) 38%, 
		hsl(var(--background-hue, 0deg),  39%, var(--background-lightness, 50%)) 38%, 
		hsl(var(--background-hue, 0deg),  39%, var(--background-lightness, 50%)) 39%, 
		hsl(var(--background-hue, 0deg),  40%, var(--background-lightness, 50%)) 39%, 
		hsl(var(--background-hue, 0deg),  40%, var(--background-lightness, 50%)) 40%, 
		hsl(var(--background-hue, 0deg),  41%, var(--background-lightness, 50%)) 40%, 
		hsl(var(--background-hue, 0deg),  41%, var(--background-lightness, 50%)) 41%, 
		hsl(var(--background-hue, 0deg),  42%, var(--background-lightness, 50%)) 41%, 
		hsl(var(--background-hue, 0deg),  42%, var(--background-lightness, 50%)) 42%, 
		hsl(var(--background-hue, 0deg),  43%, var(--background-lightness, 50%)) 42%, 
		hsl(var(--background-hue, 0deg),  43%, var(--background-lightness, 50%)) 43%, 
		hsl(var(--background-hue, 0deg),  44%, var(--background-lightness, 50%)) 43%, 
		hsl(var(--background-hue, 0deg),  44%, var(--background-lightness, 50%)) 44%, 
		hsl(var(--background-hue, 0deg),  45%, var(--background-lightness, 50%)) 44%, 
		hsl(var(--background-hue, 0deg),  45%, var(--background-lightness, 50%)) 45%, 
		hsl(var(--background-hue, 0deg),  46%, var(--background-lightness, 50%)) 45%, 
		hsl(var(--background-hue, 0deg),  46%, var(--background-lightness, 50%)) 46%, 
		hsl(var(--background-hue, 0deg),  47%, var(--background-lightness, 50%)) 46%, 
		hsl(var(--background-hue, 0deg),  47%, var(--background-lightness, 50%)) 47%, 
		hsl(var(--background-hue, 0deg),  48%, var(--background-lightness, 50%)) 47%, 
		hsl(var(--background-hue, 0deg),  48%, var(--background-lightness, 50%)) 48%, 
		hsl(var(--background-hue, 0deg),  49%, var(--background-lightness, 50%)) 48%, 
		hsl(var(--background-hue, 0deg),  49%, var(--background-lightness, 50%)) 49%, 
		hsl(var(--background-hue, 0deg),  50%, var(--background-lightness, 50%)) 49%, 
		hsl(var(--background-hue, 0deg),  50%, var(--background-lightness, 50%)) 50%, 
		hsl(var(--background-hue, 0deg),  51%, var(--background-lightness, 50%)) 50%, 
		hsl(var(--background-hue, 0deg),  51%, var(--background-lightness, 50%)) 51%, 
		hsl(var(--background-hue, 0deg),  52%, var(--background-lightness, 50%)) 51%, 
		hsl(var(--background-hue, 0deg),  52%, var(--background-lightness, 50%)) 52%, 
		hsl(var(--background-hue, 0deg),  53%, var(--background-lightness, 50%)) 52%, 
		hsl(var(--background-hue, 0deg),  53%, var(--background-lightness, 50%)) 53%, 
		hsl(var(--background-hue, 0deg),  54%, var(--background-lightness, 50%)) 53%, 
		hsl(var(--background-hue, 0deg),  54%, var(--background-lightness, 50%)) 54%, 
		hsl(var(--background-hue, 0deg),  55%, var(--background-lightness, 50%)) 54%, 
		hsl(var(--background-hue, 0deg),  55%, var(--background-lightness, 50%)) 55%, 
		hsl(var(--background-hue, 0deg),  56%, var(--background-lightness, 50%)) 55%, 
		hsl(var(--background-hue, 0deg),  56%, var(--background-lightness, 50%)) 56%, 
		hsl(var(--background-hue, 0deg),  57%, var(--background-lightness, 50%)) 56%, 
		hsl(var(--background-hue, 0deg),  57%, var(--background-lightness, 50%)) 57%, 
		hsl(var(--background-hue, 0deg),  58%, var(--background-lightness, 50%)) 57%, 
		hsl(var(--background-hue, 0deg),  58%, var(--background-lightness, 50%)) 58%, 
		hsl(var(--background-hue, 0deg),  59%, var(--background-lightness, 50%)) 58%, 
		hsl(var(--background-hue, 0deg),  59%, var(--background-lightness, 50%)) 59%, 
		hsl(var(--background-hue, 0deg),  60%, var(--background-lightness, 50%)) 59%, 
		hsl(var(--background-hue, 0deg),  60%, var(--background-lightness, 50%)) 60%, 
		hsl(var(--background-hue, 0deg),  61%, var(--background-lightness, 50%)) 60%, 
		hsl(var(--background-hue, 0deg),  61%, var(--background-lightness, 50%)) 61%, 
		hsl(var(--background-hue, 0deg),  62%, var(--background-lightness, 50%)) 61%, 
		hsl(var(--background-hue, 0deg),  62%, var(--background-lightness, 50%)) 62%, 
		hsl(var(--background-hue, 0deg),  63%, var(--background-lightness, 50%)) 62%, 
		hsl(var(--background-hue, 0deg),  63%, var(--background-lightness, 50%)) 63%, 
		hsl(var(--background-hue, 0deg),  64%, var(--background-lightness, 50%)) 63%, 
		hsl(var(--background-hue, 0deg),  64%, var(--background-lightness, 50%)) 64%, 
		hsl(var(--background-hue, 0deg),  65%, var(--background-lightness, 50%)) 64%, 
		hsl(var(--background-hue, 0deg),  65%, var(--background-lightness, 50%)) 65%, 
		hsl(var(--background-hue, 0deg),  66%, var(--background-lightness, 50%)) 65%, 
		hsl(var(--background-hue, 0deg),  66%, var(--background-lightness, 50%)) 66%, 
		hsl(var(--background-hue, 0deg),  67%, var(--background-lightness, 50%)) 66%, 
		hsl(var(--background-hue, 0deg),  67%, var(--background-lightness, 50%)) 67%, 
		hsl(var(--background-hue, 0deg),  68%, var(--background-lightness, 50%)) 67%, 
		hsl(var(--background-hue, 0deg),  68%, var(--background-lightness, 50%)) 68%, 
		hsl(var(--background-hue, 0deg),  69%, var(--background-lightness, 50%)) 68%, 
		hsl(var(--background-hue, 0deg),  69%, var(--background-lightness, 50%)) 69%, 
		hsl(var(--background-hue, 0deg),  70%, var(--background-lightness, 50%)) 69%, 
		hsl(var(--background-hue, 0deg),  70%, var(--background-lightness, 50%)) 70%, 
		hsl(var(--background-hue, 0deg),  71%, var(--background-lightness, 50%)) 70%, 
		hsl(var(--background-hue, 0deg),  71%, var(--background-lightness, 50%)) 71%, 
		hsl(var(--background-hue, 0deg),  72%, var(--background-lightness, 50%)) 71%, 
		hsl(var(--background-hue, 0deg),  72%, var(--background-lightness, 50%)) 72%, 
		hsl(var(--background-hue, 0deg),  73%, var(--background-lightness, 50%)) 72%, 
		hsl(var(--background-hue, 0deg),  73%, var(--background-lightness, 50%)) 73%, 
		hsl(var(--background-hue, 0deg),  74%, var(--background-lightness, 50%)) 73%, 
		hsl(var(--background-hue, 0deg),  74%, var(--background-lightness, 50%)) 74%, 
		hsl(var(--background-hue, 0deg),  75%, var(--background-lightness, 50%)) 74%, 
		hsl(var(--background-hue, 0deg),  75%, var(--background-lightness, 50%)) 75%, 
		hsl(var(--background-hue, 0deg),  76%, var(--background-lightness, 50%)) 75%, 
		hsl(var(--background-hue, 0deg),  76%, var(--background-lightness, 50%)) 76%, 
		hsl(var(--background-hue, 0deg),  77%, var(--background-lightness, 50%)) 76%, 
		hsl(var(--background-hue, 0deg),  77%, var(--background-lightness, 50%)) 77%, 
		hsl(var(--background-hue, 0deg),  78%, var(--background-lightness, 50%)) 77%, 
		hsl(var(--background-hue, 0deg),  78%, var(--background-lightness, 50%)) 78%, 
		hsl(var(--background-hue, 0deg),  79%, var(--background-lightness, 50%)) 78%, 
		hsl(var(--background-hue, 0deg),  79%, var(--background-lightness, 50%)) 79%, 
		hsl(var(--background-hue, 0deg),  80%, var(--background-lightness, 50%)) 79%, 
		hsl(var(--background-hue, 0deg),  80%, var(--background-lightness, 50%)) 80%, 
		hsl(var(--background-hue, 0deg),  81%, var(--background-lightness, 50%)) 80%, 
		hsl(var(--background-hue, 0deg),  81%, var(--background-lightness, 50%)) 81%, 
		hsl(var(--background-hue, 0deg),  82%, var(--background-lightness, 50%)) 81%, 
		hsl(var(--background-hue, 0deg),  82%, var(--background-lightness, 50%)) 82%, 
		hsl(var(--background-hue, 0deg),  83%, var(--background-lightness, 50%)) 82%, 
		hsl(var(--background-hue, 0deg),  83%, var(--background-lightness, 50%)) 83%, 
		hsl(var(--background-hue, 0deg),  84%, var(--background-lightness, 50%)) 83%, 
		hsl(var(--background-hue, 0deg),  84%, var(--background-lightness, 50%)) 84%, 
		hsl(var(--background-hue, 0deg),  85%, var(--background-lightness, 50%)) 84%, 
		hsl(var(--background-hue, 0deg),  85%, var(--background-lightness, 50%)) 85%, 
		hsl(var(--background-hue, 0deg),  86%, var(--background-lightness, 50%)) 85%, 
		hsl(var(--background-hue, 0deg),  86%, var(--background-lightness, 50%)) 86%, 
		hsl(var(--background-hue, 0deg),  87%, var(--background-lightness, 50%)) 86%, 
		hsl(var(--background-hue, 0deg),  87%, var(--background-lightness, 50%)) 87%, 
		hsl(var(--background-hue, 0deg),  88%, var(--background-lightness, 50%)) 87%, 
		hsl(var(--background-hue, 0deg),  88%, var(--background-lightness, 50%)) 88%, 
		hsl(var(--background-hue, 0deg),  89%, var(--background-lightness, 50%)) 88%, 
		hsl(var(--background-hue, 0deg),  89%, var(--background-lightness, 50%)) 89%, 
		hsl(var(--background-hue, 0deg),  90%, var(--background-lightness, 50%)) 89%, 
		hsl(var(--background-hue, 0deg),  90%, var(--background-lightness, 50%)) 90%, 
		hsl(var(--background-hue, 0deg),  91%, var(--background-lightness, 50%)) 90%, 
		hsl(var(--background-hue, 0deg),  91%, var(--background-lightness, 50%)) 91%, 
		hsl(var(--background-hue, 0deg),  92%, var(--background-lightness, 50%)) 91%, 
		hsl(var(--background-hue, 0deg),  92%, var(--background-lightness, 50%)) 92%, 
		hsl(var(--background-hue, 0deg),  93%, var(--background-lightness, 50%)) 92%, 
		hsl(var(--background-hue, 0deg),  93%, var(--background-lightness, 50%)) 93%, 
		hsl(var(--background-hue, 0deg),  94%, var(--background-lightness, 50%)) 93%, 
		hsl(var(--background-hue, 0deg),  94%, var(--background-lightness, 50%)) 94%, 
		hsl(var(--background-hue, 0deg),  95%, var(--background-lightness, 50%)) 94%, 
		hsl(var(--background-hue, 0deg),  95%, var(--background-lightness, 50%)) 95%, 
		hsl(var(--background-hue, 0deg),  96%, var(--background-lightness, 50%)) 95%, 
		hsl(var(--background-hue, 0deg),  96%, var(--background-lightness, 50%)) 96%, 
		hsl(var(--background-hue, 0deg),  97%, var(--background-lightness, 50%)) 96%, 
		hsl(var(--background-hue, 0deg),  97%, var(--background-lightness, 50%)) 97%, 
		hsl(var(--background-hue, 0deg),  98%, var(--background-lightness, 50%)) 97%, 
		hsl(var(--background-hue, 0deg),  98%, var(--background-lightness, 50%)) 98%, 
		hsl(var(--background-hue, 0deg),  99%, var(--background-lightness, 50%)) 98%, 
		hsl(var(--background-hue, 0deg),  99%, var(--background-lightness, 50%)) 99%, 
		hsl(var(--background-hue, 0deg),  100%, var(--background-lightness, 50%)) 99%, 
		hsl(var(--background-hue, 0deg),  100%, var(--background-lightness, 50%)) 100%);
}

.color-text {
	background: linear-gradient(
		rgba(255, 0, 0, 1) 0%,
		rgba(255, 154, 0, 1) 10%,
		rgba(208, 222, 33, 1) 20%,
		rgba(79, 220, 74, 1) 30%,
		rgba(63, 218, 216, 1) 40%,
		rgba(47, 201, 226, 1) 50%,
		rgba(28, 127, 238, 1) 60%,
		rgba(95, 21, 242, 1) 70%,
		rgba(186, 12, 248, 1) 80%,
		rgba(251, 7, 217, 1) 90%,
		rgba(255, 0, 0, 1) 100%
		);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}